# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - swa-210-f23-mihajlovic-filip

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: acrinfofd22210.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A140BFDD851846B898B521A28DE47728 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_13D445F16A9C427FA6E7189DC30D4A41 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: acrinfofd22210.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A140BFDD851846B898B521A28DE47728 }}/acrinfofd22210.azurecr.io/todo-frontend-filip:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'swa-210-f23-mihajlovic-filip'
          slot-name: 'Production'
          images: 'acrinfofd22210.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A140BFDD851846B898B521A28DE47728 }}/acrinfofd22210.azurecr.io/todo-frontend-filip:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_5FCD2860C57A4367A72D114A693147AC }}